$primary-color-dark: #99002b;
$primary-color: #ff0048;
$primary-color-light: #ff779d;

$secondary-color-dark: #004855;
$secondary-color: #00d8ff;
$secondary-color-light: #aaf2ff;

$tertiary-color-dark: #505500;
$tertiary-color: #f0ff00;
$tertiary-color-light: #faffaa;
